.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #111827;
}

.spacer {
  height: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .container {
    color: #f9fafb;
  }
}
